
    <div class="container">
        <div class="slider" #asSlider>
            <div class="slides" #asSlides style="--img: url('../assets/final.jpg')">
                <div class="content">
                    <h2>Slide 01</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>

            <div class="slides" style="--img: url('../assets/fluCristal.jpg')">
                <div class="content">
                    <h2>Slide 02</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>

            <div class="slides" style="--img: url('../assets/atle.jpeg')">
                <div class="content">
                    <h2>Slide 03</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>

            <div class="slides" style="--img: url('../assets/2016.jpg')">
                <div class="content">
                    <h2>Slide 04</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>

            <div class="slides" style="--img: url('../assets/strongCristal.jpg')">
                <div class="content">
                    <h2>Slide 05</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>

            <div class="slides" style="--img: url('../assets/6prem.png')">
                <div class="content">
                    <h2>Slide 06</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod quisquam modi a error placeat voluptatum consequuntur soluta velit inventore</p>
                </div>
            </div>
        </div>

        <div class="buttons">
            <span class="prev" #asPrev ></span>
            <span class="next" #asNext ></span>
        </div>
    </div>


    <script>
        let next = document.querySelector('.next');
        let prev = document.querySelector('.prev');
        let slider = document.querySelector('.slider');

        next.addEventListener('click', function() {
            let slides = document.querySelectorAll('.slides');
            slider.appendChild(slides[0]);
        })

        prev.addEventListener('click', function() {
            let slides = document.querySelectorAll('.slides');
            slider.prepend(slides[slides.length - 1]);
        })
        
    </script>