<section>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="../assets/cristalRiver.jpg" alt="CR">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing eli.</p>
            <h2>SC vs RP</h2>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="../assets/strongCristal.jpg" alt="CR">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fuga sit obcaecati, dolore, hic ab esse, cumque similique fugit consequuntur excepturi. Exercitationem veritatis unde libero, facilis magnam autem expedita distinctio.</p>
            <h2>THS vs SC</h2>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="../assets/fluCristal.jpg" alt="CR">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fuga sit obcaecati, dolore, hic ab esse, cumque similique fugit consequuntur excepturi. Exercitationem veritatis unde libero, facilis magnam autem expedita distinctio.</p>
            <h2>FLU vs SC</h2>
        </div>
    </div>
</section>