<section>

    <div class="container">
        <div class="box" style="--clr: #2196f3">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <img src="../assets/monitor.png" alt="atletico">
            <div class="content">
                <h2>Monitor</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A qrovident iste, odit repudiandae, unde perferendis!</p>
                <a href="#">Leer Más</a>
            </div>
        </div>
        
        <div class="box" style="--clr: #ff5566">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <img src="../assets/cpu.png" alt="atletico">
            <div class="content">
                <h2>CPU</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A qrovident iste, odit repudiandae, unde perferendis!</p>
                <a href="#">Leer Más</a>
            </div>
        </div>
    </div>
</section>