<div class="box">
    <!-- <span style="--i:1;"><img src="../assets/strongCristal.jpg" alt="gaa"(click)="abrirThe()" ></span>
    <span style="--i:2;"><img src="../assets/cristalRiver.jpg" alt="gaa" (click)="abrirRiv()" ></span>
    <span style="--i:3;"><img src="../assets/fluCristal.jpg" alt="gaa" (click)="abrirFlu()"></span>
    <span style="--i:4;"><img src="../assets/strongCristal.jpg" alt="gaa" (click)="abrirThe()"></span>
    <span style="--i:5;"><img src="../assets/cristalRiver.jpg" alt="gaa" (click)="abrirFlu()"></span>
    <span style="--i:6;"><img src="../assets/fluCristal.jpg" alt="gaa" (click)="abrirRiv()"></span> -->

    <span style="--i:1;"><img src="../assets/l.png" alt="gaa"></span>
    <span style="--i:2;"><img src="../assets/l.png" alt="gaa"></span>
    <span style="--i:3;"><img src="../assets/l.png" alt="gaa"></span>
    <span style="--i:4;"><img src="../assets/l.png" alt="gaa"></span>
    <span style="--i:5;"><img src="../assets/l.png" alt="gaa"></span>
    <span style="--i:6;"><img src="../assets/l.png" alt="gaa"></span>

</div>

<!-- <a href="" (onclick)="abrir()"></a> -->