<swiper-container>
    <swiper-slide>
        <div class="div">
            <h2>Espacio 1</h2>
            <img src="../../../../assets/2016.jpg" alt="">
        </div>

    </swiper-slide>
    <swiper-slide>
        <div class="div">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur totam, voluptas eos repellat tempore reprehenderit voluptates nesciunt eius rem harum placeat a aut beatae. Ex ratione laboriosam ipsam explicabo ducimus?</h2>
            <img src="../../../../assets/2016.jpg" alt="">
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="div">
            <h2>Espacio 3</h2>
            <img src="../../../../assets/2016.jpg" alt="">
        </div>
    </swiper-slide>
  </swiper-container>